$background-color: #424242;
$border-color: #393939;
$button-color: #56cb95;
$result-color: #4e4e4e;

.container {
  width: 500px;

  background-color: $background-color;
  border-radius: 16px;
  opacity: 0.8;
  border: 2px solid $border-color;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  .header {
    display: flex;
    justify-content: space-between;

    .icon {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .main-text {
      color: white;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .footer {
    display: flex;
    justify-content: end;

    .button {
      width: 100px;
      cursor: pointer;
      height: 50px;
      border-radius: 12px;
      background-color: $button-color;
      color: white;
      font-size: 30px;
      border: none;
    }
  }

  .input-section {
    width: 96%;

    .input {
      width: 100%;
      border: none;
      height: 80px;
      background-color: $background-color;
      border-radius: 8px;
      color: white;

      grid-column: 1 / span 4;
      padding: 10px;
      font-size: 30px;
      text-align: right;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #f0f0f0;
        font-size: 24px;
        opacity: 0.5;
      }
    }
  }

  .output-section {
    background-color: $result-color;
    height: 100px;
    border-radius: 8px;
    padding: 5px;

    .output-text {
      color: white;
      font-size: 16px;
      font-weight: 700;
      opacity: 0.7;
    }

    .output-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: $button-color;
      text-align: center;
    }
  }
}
